<%- include('header') -%>
<h2>This is a about page</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
  Proin in augue quis tellus suscipit aliquam. Nunc a neque ornare, 
  bibendum quam sit amet, cursus ipsum. Nunc maximus metus elit, 
  sed viverra est maximus eu. Cras finibus condimentum porttitor. 
  Suspendisse nunc orci, ornare non facilisis nec, rutrum sit amet mi. 
  Nulla tincidunt leo non fermentum placerat. Nulla finibus neque ac 
  eros accumsan malesuada. Phasellus non risus sit amet tellus tristique 
  n. Fusce volutpat consectetur ex, pretium dignissim libero 
  consectetur placerat. Etiam vel gravida quam. Vivamus vel fringilla
  nibh. Nam ac ante convallis, dignissim massa quis, hendrerit risus. 
  Cras vel est et libero accumsan pulvinar ac sit amet sem. Duis sed 
  volutpat nibh, non consequat mi. Donec ultrices ultricies dictum. 
  Fusce at quam tincidunt, vehicula massa a, convallis leo.
</p>
<%- include('footer') -%>
